@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(0, 196, 245); */
  background: #111926;
  /* border-radius: 5px; */
}